# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
projecte/.angular-cli.json
projecte/.editorconfig
projecte/.gitignore
projecte/karma.conf.js
projecte/package.json
projecte/protractor.conf.js
projecte/README.md
projecte/tsconfig.json
projecte/tslint.json
projecte/e2e/app.e2e-spec.ts
projecte/e2e/app.po.ts
projecte/e2e/tsconfig.e2e.json
projecte/src/favicon.ico
projecte/src/index.html
projecte/src/main.ts
projecte/src/polyfills.ts
projecte/src/styles.css
projecte/src/test.ts
projecte/src/tsconfig.app.json
projecte/src/tsconfig.spec.json
projecte/src/typings.d.ts
projecte/src/app/app-routing.module.ts
projecte/src/app/app.component.css
projecte/src/app/app.component.html
projecte/src/app/app.component.spec.ts
projecte/src/app/app.component.ts
projecte/src/app/app.module.ts
projecte/src/assets/.gitkeep
projecte/src/environments/environment.prod.ts
projecte/src/environments/environment.ts
package.json
